<div class="content">
    <h5>こんにちは</h5>
    <div class="row justify-content g-0">
        <div class="col">
            <div class="label">Tiếng Việt</div>
            <div class="label">日本語</div>
        </div>
        <div class="col">
            <div class="tag-cv">
                <i class="far fa-clock"></i> June 15, 2021
            </div>
        </div>
        <div class="col">
            <div class="label">Chấp Nhận</div>
            <div class="label">Từ Chối</div>
            <div class="label">Cập Nhật</div>
        </div>
    </div>
</div>
<div class="cv">
    <div class="container">
        <div class="wrap-cv row">
            <div class="head-cv row">
                <div class="col-3">
                    <div class="avatar">
                        <img src="../../../assets/imgs/member5.jpg">
                    </div>
                </div>
                <div class="col-9">
                    <div class="info">
                        <div class="name">
                            <h3>Nguyễn Văn A</h3>
                        </div>
                        <div class="wrap-contact row">
                            <div class="col-5">
                                <div class="icon">
                                    <i class="fas fa-male"></i>
                                </div>
                                <p>
                                    Nam
                                </p>
                            </div>
                            <div class="col-7">
                                <div class="icon">
                                    <i class="fas fa-calendar-week"></i>
                                </div>
                                <p>
                                    23/6/1997
                                </p>
                            </div>
                            <div>
                                <div class="icon">
                                    <i class="fas fa-phone"></i>
                                </div>
                                <p>
                                   
                                    0123456789
                                </p>
                            </div>
                            <div>
                                <div class="icon">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <p>
                                   
                                    NguyenVanA@gmail.com
                                </p>
                            </div>
                            <div >
                                <div class="icon">
                                    <i class="fas fa-location-arrow"></i>
                                </div>
                                <p>
                                    Số 1 Đường A, P1, Q1, Thành Phố Hồ Chí Minh
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="intro row justify-content-end">
                <div class="col-9">
                    <p>
                        Là người có tư duy logic và khả năng sáng tạo tốt, tôi mong muốn trở thành một trong những lập trình viên chủ chốt của công ty để mang lại những giải pháp công nghệ tối ưu cho khách hàng. Đồng thời, tôi muốn được nâng cao trình độ chuyên môn và năng lực nghề nghiệp thông qua môi trường làm việc chuyên nghiệp của công ty.
                    </p> 
                </div>
            </div>
            <div class="col-6">
                <div class="detail row">
                    <div class="cv-label">
                        <b>Học vấn</b>
                    </div>
                    <div class="cv-text">
                        <p>
                            <b>Đại học A</b>: chuyên ngành 
                            <br>10/2020 - 5/2021<br>
                            Tốt Nghiệp loại Giỏi, điểm trung bình 8.0
                        </p>
                    </div>
                </div>
                <div class="detail row">
                    <div class="cv-label">
                        <b>Kinh nghiệm làm việc</b>
                    </div>
                    <div class="cv-text">
                        <p>
                            <b>Đại học A</b>: chuyên ngành 
                            <br>10/2020 - 5/2021<br>
                            Tốt Nghiệp loại Giỏi, điểm trung bình 8.0
                        </p>
                    </div>
                </div>
                <div class="detail row">
                    <div class="cv-label">
                        <b>Hoạt động</b>
                    </div>
                    <div class="cv-text">
                        <p>
                            <b>Đại học A</b>: chuyên ngành 
                            <br>10/2020 - 5/2021<br>
                            Tốt Nghiệp loại Giỏi, điểm trung bình 8.0
                        </p>
                    </div>
                </div>
                <div class="detail row">
                    <div class="cv-label">
                        <b>Chứng chỉ</b>
                    </div>
                    <div class="cv-text">
                        <p>
                            <b>Đại học A</b>: chuyên ngành 
                            <br>10/2020 - 5/2021<br>
                            Tốt Nghiệp loại Giỏi, điểm trung bình 8.0
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="detail row">
                    <div class="cv-label">
                        <b>Các kỹ năng</b>
                    </div>
                    <div class="cv-text">
                        <p>
                            <b>Đại học A</b>: chuyên ngành 
                            <br>10/2020 - 5/2021<br>
                            Tốt Nghiệp loại Giỏi, điểm trung bình 8.0
                            <br>10/2020 - 5/2021<br>
                            Tốt Nghiệp loại Giỏi, điểm trung bình 8.0
                        </p>
                    </div>
                </div>
                <div class="detail row">
                    <div class="cv-label">
                        <b>Sở thích</b>
                    </div>
                    <div class="cv-text">
                        <p>
                            <b>Đại học A</b>: chuyên ngành 
                            <br>10/2020 - 5/2021<br>
                            Tốt Nghiệp loại Giỏi, điểm trung bình 8.0
                        </p>
                    </div>
                </div>
                <div class="detail row">
                    <div class="cv-label">
                        <b>Giải thưởng</b>
                    </div>
                    <div class="cv-text">
                        <p>
                            <b>Đại học A</b>: chuyên ngành 
                            <br>10/2020 - 5/2021<br>
                            Tốt Nghiệp loại Giỏi, điểm trung bình 8.0
                        </p>
                    </div>
                </div>
                <div class="detail row">
                    <div class="cv-label">
                        <b>Thông tin thêm</b>
                    </div>
                    <div class="cv-text">
                        <p>
                            <b>Đại học A</b>: chuyên ngành 
                            <br>10/2020 - 5/2021<br>
                            Tốt Nghiệp loại Giỏi, điểm trung bình 8.0
                        </p>
                    </div>
                </div>
                <div class="detail row">
                    <div class="cv-label">
                        <b>Người tham chiếu</b>
                    </div>
                    <div class="cv-text">
                        <p>
                            <b>Đại học A</b>: chuyên ngành 
                            <br>10/2020 - 5/2021<br>
                            Tốt Nghiệp loại Giỏi, điểm trung bình 8.0
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>