<div class="content">
    <div class="container">
        <div class="row justify-content-center">
            <h2>Danh sách Cv</h2>
            <p><a href="#">Home</a>/ Danh sách Cv</p>
        </div>
    </div>
</div>
<div class="list">
    <div class="container">
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-8">
                <div></div>
                <div class="wrap-list">
                    <div class="short-info row">
                        <div class="col-2">
                            <div class="avatar">
                                <div class="img align-items-center">
                                    <img src="../../../assets/imgs/member5.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="name">
                                <b>Nguyễn Văn A</b>
                            </div>             
                            <div class="job-d">
                                <div>
                                    <div class="tag">
                                        <p class="job-t">
                                            Developer 
                                        </p>
                                    </div>
                                    <div class="tag">
                                        <p class="salary">
                                            <i class="fas fa-money-bill-wave-alt"></i> Thỏa Thuận
                                        </p>
                                    </div>
                                </div>
                                <div>
                                    <div class="label">App</div>
                                    <div class="label">Web</div>
                                    <div class="label">.Net</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 ">
                            <div class="view row">
                                <a class="align-self-center">View more</a>
                            </div>
                            <div class="flag-container">
                                <img class="flag" src="../../../assets/imgs/vn.ico">
                            </div>
                        </div>
                    </div>
                    <div class="short-info row">
                        <div class="col-2">
                            <div class="avatar">
                                <div class="img align-items-center">
                                    <img src="../../../assets/imgs/member5.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="name">
                                <b>Nguyễn Văn B</b>
                            </div>             
                            <div class="job-d">
                                <div>
                                    <div class="tag">
                                        <p class="job-t">
                                            Developer 
                                        </p>
                                    </div>
                                    <div class="tag">
                                        <p class="salary">
                                            <i class="fas fa-money-bill-wave-alt"></i> Thỏa Thuận
                                        </p>
                                    </div>
                                </div>
                                <div>
                                    <div class="label">App</div>
                                    <div class="label">Web</div>
                                    <div class="label">.Net</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 ">
                            <div class="view row">
                                <a class="align-self-center">View more</a>
                            </div>
                            <div class="flag-container">
                                <img class="flag" src="../../../assets/imgs/vn.ico">
                                <img class="flag" src="../../../assets/imgs/jp.ico">
                                <img class="flag" src="../../../assets/imgs/us.ico">
                            </div>
                        </div>
                    </div>
                    <div class="short-info row">
                        <div class="col-2">
                            <div class="avatar">
                                <div class="img align-items-center">
                                    <img src="../../../assets/imgs/member5.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="name">
                                <b>Nguyễn Văn C</b>
                            </div>             
                            <div class="job-d">
                                <div>
                                    <div class="tag">
                                        <p class="job-t">
                                            Developer 
                                        </p>
                                    </div>
                                    <div class="tag">
                                        <p class="salary">
                                            <i class="fas fa-money-bill-wave-alt"></i> Thỏa Thuận
                                        </p>
                                    </div>
                                </div>
                                <div>
                                    <div class="label">App</div>
                                    <div class="label">Web</div>
                                    <div class="label">.Net</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 ">
                            <div class="view row">
                                <a class="align-self-center">View more</a>
                            </div>
                            <div class="flag-container">
                                <img class="flag" src="../../../assets/imgs/vn.ico">
                                <img class="flag" src="../../../assets/imgs/jp.ico">
                                <img class="flag" src="../../../assets/imgs/us.ico">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>