<div class="wrap-menu">
    <div class="container" style="background: white;">
        <nav class="navbar navbar-expand-lg menu" >
            <div class=" navbar-toggler col">
                <div class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="fas fa-bars"></div>
                </div>
            </div>
            <a href="../business" class="col">
                <img src="../../../assets/imgs/5461084349_3d710fba-e466-4506-b9e0-8ad649286fc4.png" style="height:40px; display: flex;">
            </a>
            <div class="collapse navbar-collapse col" id="navbarSupportedContent" style="flex-direction:row-reverse ;">
                <ul class="navbar-nav mb-2 mb-lg-0" >
                    <li class="nav-item">
                        <a class="menu-link " routerLink="../business">Giới thiệu</a>
                    </li>
                    <li class="nav-item">
                        <a class="menu-link" routerLink="../business/listCv">Tuyển dụng</a>
                    </li>
                    <li class="nav-item">
                        <a class="menu-link" href="#">Công ty</a> 
                    </li>
                    <li class="nav-item login">
                        <a class="menu-link-login" href="#" >Đăng nhập</a> 
                    </li>
                    <li class="nav-item switch">
                        <a class="menu-link-switch" routerLink="../">Ứng viên</a> 
                    </li>
                </ul>
            </div>  
        </nav>
    </div>
</div>    
