.wrap-menu{
    background: white!important;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #ECEDF2;
    box-shadow: 0px 6px 15px 0px rgb(64 79 104 / 5%);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.menu{
    padding: 15px 45px;
}
.menu-link{
    display: flex;
    padding: .5rem 1rem;
    color:rgb(119, 131, 143);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    margin: 2px 0;
}
.menu-link:hover{
    color: black;
}
.icon{
    color:rgb(119, 131, 143);
}
.login{
    padding: 0px 5px;
}
.menu-link-login{
    display: flex;
    padding: .5rem 1rem;
    background: rgba(25, 103, 210, 0.4);
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    border-radius: 6px; 
    margin: 2px 0;
}
.menu-link-login:hover{
    color: black;
}
.switch{
    padding: 0 5px;
    
}
.menu-link-switch{
    display: flex;
    padding: .5rem 1rem;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    align-items: center;
    background: rgba(21, 87, 177, 1);
    color: white;
    border-radius: 6px; 
    margin: 2px 0;
}
.menu-link-switch:hover{
    color: black;
}
