<footer>
    <div class="footer container row justify-content-center">
        <div class="col-md-3 col-sm-6">
            <b>
                Cv
            </b>
        </div>
        <div class="col-md-3 col-sm-6">
            <ul>
                <li class="litil">Về Chúng Tôi</li>
                <li>Trở Thành Đối Tác </li>
                <li>Chính Sách Bảo Mật</li>
                <li>Điều Kiện Và Điều Khoản</li>
                <li>Quy Định Thanh Toán</li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-6">
                <ul>
                    <li class="litil">
                        Download Mobile App
                    </li>
                    <li>
                        <img src="../../../assets/imgs/appstore@3x.png">
                    </li>
                    <li>
                        <img src="../../../assets/imgs/playstore@3x.png">
                    </li>
                </ul>
        </div>
        <div class="col-md-3 col-sm-6">
            <ul>
                <li class="litil">Liên Hệ </li>
                <li>Trụ Sở: ...</li>
                <li>Hotline : ...</li>
                <li>Email: ...@gmail.com</li>
                <li>(7:00 - 22:00 Kể cả thứ 7, CN)</li>
            </ul>
        </div>
       
    </div>
    <div class="footer container row justify-content-center">
        <p>@ All Copyright Reserved 2021</p>
    </div>
</footer>