
<form>
    <div class="content">
        <input type="text" class="form-tittle" placeholder="Tiêu đề">
        <!-- <h5>こんにちは</h5> -->
        <div class="row justify-content g-0">
            <div class="col">
                <div class="label">Tiếng Việt</div>
                <div class="label">日本語</div>
            </div>
        </div>
    </div>
    <div class="cv">
        <div class="container">
            <div class="wrap-cv row">
                <div class="head-cv row">
                    <div class="col-3">
                        <div class="avatar">
                            <main>
                                <input type="file" name="image" id="image" accept="image/*" />
                                <div id="preview">
                                    <div id="avatar"></div>
                                </div>
                            </main>
                
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="info">
                            <div class="name">
                                <input type="text" placeholder="Họ và Tên" class="form-name">
                                <!-- <h3>Nguyễn Văn A</h3> -->
                            </div>
                            <div class="wrap-contact row">
                                <div class="col-5">
                                    <div class="icon">
                                        <i class="fas fa-male"></i>
                                    </div>
                                    <select class="form-gender">
                                        <option>Khác</option>
                                        <option>Nam</option>
                                        <option>Nữ</option>
                                    </select>
                                </div>
                                <div class="col-7">
                                    <div class="icon">
                                        <i class="fas fa-calendar-week"></i>
                                    </div>
                                    <input type="date" placeholder="Ngày sinh" class="form-birth">
                                </div>
                                <div>
                                    <div class="icon">
                                        <i class="fas fa-phone"></i>
                                    </div>
                                    <input type="text" class="form-phone" placeholder="Số điện thoại">
                                </div>
                                <div>
                                    <div class="icon">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                    <input type="email" class="form-email" placeholder="Email" >
                                </div>
                                <div >
                                    <div class="icon">
                                        <i class="fas fa-location-arrow"></i>
                                    </div>
                                    <input type="text" class="form-ad" placeholder="Địa chỉ">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="intro row justify-content-end">
                    <div class="col-9">
                        <Textarea placeholder="Giới thiệu bản thân"></Textarea>
                    </div>
                </div>
                <div class="col-6">
                    <div class="detail row">
                        <div class="cv-label">
                            <b>Học vấn</b>
                        </div>
                        <div class="cv-text">
                            <Textarea></Textarea>
                        </div>
                    </div>
                    <div class="detail row">
                        <div class="cv-label">
                            <b>Kinh nghiệm làm việc</b>
                        </div>
                        <div class="cv-text">
                            <Textarea></Textarea>
                        </div>
                    </div>
                    <div class="detail row">
                        <div class="cv-label">
                            <b>Hoạt động</b>
                        </div>
                        <div class="cv-text">
                            <Textarea></Textarea>
                        </div>
                    </div>
                    <div class="detail row">
                        <div class="cv-label">
                            <b>Chứng chỉ</b>
                        </div>
                        <div class="cv-text">
                            <Textarea></Textarea>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="detail row">
                        <div class="cv-label">
                            <b>Các kỹ năng</b>
                        </div>
                        <div class="cv-text">
                            <Textarea></Textarea>
                        </div>
                    </div>
                    <div class="detail row">
                        <div class="cv-label">
                            <b>Sở thích</b>
                        </div>
                        <div class="cv-text">
                            <Textarea></Textarea>
                        </div>
                    </div>
                    <div class="detail row">
                        <div class="cv-label">
                            <b>Giải thưởng</b>
                        </div>
                        <div class="cv-text">
                            <Textarea></Textarea>
                        </div>
                    </div>
                    <div class="detail row">
                        <div class="cv-label">
                            <b>Thông tin thêm</b>
                        </div>
                        <div class="cv-text">
                            <Textarea></Textarea>
                        </div>
                    </div>
                    <div class="detail row">
                        <div class="cv-label">
                            <b>Người tham chiếu</b>
                        </div>
                        <div class="cv-text">
                            <Textarea></Textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</form>
