<div>
    <div class="content">
       
        <h5>Quản lý cv</h5>
        
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 row justify-content-center" >
                <div class="col-6 title">
                    <p>Danh sách cv</p>
                </div>
                <div class="col-6 new">
                    <div class="create">
                        <a><i class="fas fa-plus"></i> Tạo mới</a>
                    </div>
                </div>
                <div class="row col-12">
                    <div class="col-12 col-lg-6">
                        <div class="col">
                            <div class="manage row col">
                                <div class="col-4">
                                    <a>
                                        <img src="../../../assets/imgs/cv-recruitment-online-icon-vector-11222250.jpg">
                                    </a>
                                </div>
                                <div class="col">
                                    <div class="cv-name">
                                        <b>Thư ứng tuyển</b>
                                    </div>
                                    <div class="name">
                                        <b>Nguyễn Văn A</b>
                                    </div>
                                    <div class="cv-label row justify-content-center" >
                                        <div class="label col">
                                            <a>
                                                <b>Xem</b>
                                            </a>
                                        </div>
                                        <div class="label col">
                                            <a>
                                                <b>Xóa</b>
                                            </a>
                                        </div>
                                        <div class="label col">
                                            <a>
                                                <b>Sửa</b>
                                            </a>
                                        </div>
                                        <div class="label col">
                                            <a>
                                                <b>Tải</b>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="col">
                            <div class="manage row col">
                                <div class="col-4">
                                    <a>
                                        <img src="../../../assets/imgs/cv-recruitment-online-icon-vector-11222250.jpg">
                                    </a>
                                </div>
                                <div class="col">
                                    <div class="cv-name">
                                        <b>Thư ứng tuyển</b>
                                    </div>
                                    <div class="name">
                                        <b>Nguyễn Văn A</b>
                                    </div>
                                    <div class="cv-label row justify-content-center" >
                                        <div class="label col">
                                            <a>
                                                <b>Xem</b>
                                            </a>
                                        </div>
                                        <div class="label col">
                                            <a>
                                                <b>Xóa</b>
                                            </a>
                                        </div>
                                        <div class="label col">
                                            <a>
                                                <b>Sửa</b>
                                            </a>
                                        </div>
                                        <div class="label col">
                                            <a>
                                                <b>Tải</b>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="col">
                            <div class="manage row col">
                                <div class="col-4">
                                    <a>
                                        <img src="../../../assets/imgs/cv-recruitment-online-icon-vector-11222250.jpg">
                                    </a>
                                </div>
                                <div class="col">
                                    <div class="cv-name">
                                        <b>Thư ứng tuyển 2</b>
                                    </div>
                                    <div class="name">
                                        <b>Nguyễn Văn C</b>
                                    </div>
                                    <div class="cv-label row justify-content-center" >
                                        <div class="label col">
                                            <a>
                                                <b>Xem</b>
                                            </a>
                                        </div>
                                        <div class="label col">
                                            <a>
                                                <b>Xóa</b>
                                            </a>
                                        </div>
                                        <div class="label col">
                                            <a>
                                                <b>Sửa</b>
                                            </a>
                                        </div>
                                        <div class="label col">
                                            <a>
                                                <b>Tải</b>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4">

            </div>
        </div>
    </div>
</div>