<div>
    <div class="content">
       
        <h5>Quản lý cv</h5>
        
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 row" >
                <div class="col-6">
                    <p>Danh sách cv</p>
                </div>
                <div class="col-6">
                    <div>
                        <a><i class="fas fa-plus"></i> Tạo mới</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="col-6">
                            <div class="manage row">
                                <a>
                                    <img src="../../../assets/imgs/cv-recruitment-online-icon-vector-11222250.jpg">
                                </a>
                                <div>
                                    <b>Thư ứng tuyển</b>
                                </div>
                                <div>
                                    <b>Xem</b>
                                    <b>Xóa</b>
                                    <b>Sửa</b>
                                    <b>Tải Xuống</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4">

            </div>
        </div>
    </div>
</div>